<h4 class="page-header">Thống kê</h4>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<p><b>Tổng số trẻ: {{ stats.kids }}</b></p>
				<p><b>Tổng số phụ huynh: {{ stats.parents }} </b></p>
				<p><b>Tổng số ngày nghỉ: {{ stats.totalDaysOff }} </b></p>
			</div>
			<div class="col-sm-6 col-xs-12">
				<p><b>Doanh thu lý thuyết:</b></p>
				<p><b>Doanh thu ước tính:</b></p>
				<p><b>Doanh thu thực tế:</b></p>
			</div>
		</div>
	</div>
</div>
